/*login form container*/
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 2rem;
}
.login-container h1 {
    font-size: 3rem;
}